fieldset {
  min-width: 680px;
  color: yellowgreen;
  padding-top: 40px;
}
h1 {
  text-align: center;
  color: darkkhaki;
}

h3 {
  text-align: left;
  color: darkkhaki;
}

.editar {
  color: cyan;
  float: right;
  cursor: pointer;
}

.container-aluno {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.dark-mode {
  background-color: #0e1420;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.light-mode {
  background-color: lightgray;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}